Host 192.168.22.11
  User				   winupon
  HostName			   192.168.22.11
  ProxyCommand		   none
  IdentityFile		   /path/to/ssh/key.pem
  BatchMode			  yes
  PasswordAuthentication no

Host *
  ServerAliveInterval	60
  TCPKeepAlive		   yes
  ProxyCommand		   ssh -q -A ec2-user@106.3.210.3 nc %h %p
  ControlMaster		  auto
  ControlPath			~/.ssh/mux-%r@%h:%p
  ControlPersist		 8h
  User				   ansible
  IdentityFile		   /path/to/ssh/key.pem